.DS_Store


/Week_02/ai_web_ser_fastapi/__pycache__
/Week_02/ai_web_ser_fastapi/myenv
/Week_03/python_3_12
/Week_03/processor-augmenter-frontend/node_modules
/Week_03/processor-augmenter-backend/app/__pycache__
/Week_03/.python-version

